# SWAGGER PETSTORE
PETSTORE_API_URL=https://petstore.swagger.io/v2

# CONDUIT (REALWORLD)
CONDUIT_API_URL=https://api.realworld.show/api
CONDUIT_UI_URL=https://demo.realworld.show

# API authorization token
PETSTORE_API_KEY=special-key-12345